{% extends "layout.html" %} {% block title %} Ana səhifə {% endblock title %} {% block content %}
<br>
<hr>
<h3 style="text-align: center;">List yarat</h3>
<form action="{% url 'tasks:home' %}" method="post" style="text-align: center;">
    {% csrf_token %} 
    {{form}}
    <button class="btn btn-danger" type="submit">Yadda saxla</button>
</form>
<div class="container">
    <h3>Listler</h3>
    <hr> {% for list in lists %}
    {% if list.confirm == True %}
        <span style="font-size: 22px;">{{list.title}}</span>(tamamlanilib)

    {% else %}
    <span style="font-size: 22px;">{{list.title}}</span>

    {% endif %}
    <span style="float: right;">
        <a href="{% url 'tasks:listdetail' id=list.id %}" class="btn btn-success btn-sm" style="text-align: right;">Listin icindekiler ({{list.task.count}})</a>
        <a href="{% url 'tasks:updatelist' id=list.id %}" class="btn btn-primary btn-sm">Güncəllə</a>
        <a href="{% url 'tasks:deletelist' id=list.id %}" class="btn btn-danger btn-sm">Listi sil</a>    
    </span>

    <hr> 
    {% endfor %}
</div>
{% endblock content %}